@import "tailwindcss/preflight";


@import "components/buttons.css";
@import "components/hamburger.css";


@import "tailwindcss/components";
@import "tailwindcss/utilities"; 

@import "slick-carousel/slick/slick.css";
@import "magnific-popup/dist/magnific-popup.css";
@import 'aos/dist/aos.css';


body {
    @apply antialiased leading-normal;
}

.transition-1 {
    transition: all 0.1s linear;
}
.transition-2 {
    transition: all 0.2s linear;
}

.nav {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 11px rgba(0,0,0,0.2);
}

.wrapper.open {
    filter: blur(10px);
    transform: scale(0.9);
}

.mobile-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: -250px;
    background: #fff;
    padding: 40px 40px 40px 0px;
    height: 100%;
    transition: all 0.2s ease-in-out;
    z-index: 100;
    @media screen and (min-width:600px) {
       display: none;
    }
    &.open {
        right: 0;
        box-shadow: 0 40px 90px rgba(0,0,0,0.3);
    }
    ul {
        list-style: none;
    }
    li {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
        &.active {
            > a {
                color: #4c6fb5;
            }
        }
        ul {
            margin-top: 10px;
        }
        li {
            margin-bottom: 10px;
            padding-bottom: 0;
            border-bottom: 0;
            
            a {
                margin-left: 5px;
            }
        }
    }
    a {
        text-transform: uppercase;
        font-weight: 700;
    }
}




