<!DOCTYPE html>
<html class="no-js" lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="home" href="{{ siteUrl }}" />

    {{ craft.twigpack.includeCssModule("main.css") }}
    
</head>

<body class="{% if (entry is defined) %}level-{{ entry.level }} entry-{{ entry.id }}{% endif %} {% if (bodyclass is defined) %} {{ bodyclass }} {% endif %} antialiased">


      <div class="wrapper">

    {% block content %}
    {% endblock %}


        </div> <!-- wrapper -->


    {{ craft.twigpack.includeJsModule("main.js") }}

</body>

</html>
